<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>For connect to cam</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Приложению требуется доступ к камере для сканирования помещения</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложению требуется доступ к фотогалерее для сохранения результатов сканирования</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
